<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Todoアプリ</title>
		<link rel="stylesheet" th:href="@{/style.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	</head>
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
	<body>
		<div class="app-layout">
	        <aside class="sidebar">
	            <div class="sidebar-header">
	                <h3>リスト</h3>
	            </div>
	           	<button class="open-modal-btn" id="open-add-list-modal-btn">
	                ＋ 新規リスト
	            </button>
	            <ul id="list-sidebar">
	            </ul>
	        </aside>
	        <main class="main-content">
				<div class="content-wrapper">
					<div class="header-wrapper">
					    <div class="header-left">
					        <button id="menu-btn" class="icon-btn" title="メニュー">
					            <i class="fa-solid fa-bars"></i>
					        </button>
					        <div id="action-menu" class="action-menu hidden">
					            <button id="bulk-done">
					                <i class="fa-solid fa-check"></i> ステータス変更
					            </button>
					            <button id="bulk-delete" class="danger">
					                <i class="fa-solid fa-trash"></i> 削除
					            </button>
					        </div>
					    </div>
					    <h2 id="current-list-title">
					        Todo タスク
					    </h2>
					    <button id="open-add-todo-modal-btn"><i class="fa-solid fa-plus"></i></button>
					</div>
					<div id="empty-message" class="hidden">
						リストを作成してください
					</div>
					<ul id="todo-list"></ul>
					<div id="selection-footer-delete-mode" class="selection-footer-delete-mode hidden">
					    <button id="footer-delete">削除する</button>
					    <button id="footer-cancel">キャンセル</button>
					</div>
					
					<div id="selection-footer-done-mode" class="selection-footer-done-mode hidden">
					    <button id="footer-done">全て完了済みにする</button>
					    <button id="footer-not-done">全て未完了にする</button>
					    <button id="footer-cancel">キャンセル</button>
					</div>
				</div>
			</main>
			<aside class="detail-panel" id="detail-panel">
				<div class="detail-header">
				    <h3>タスク詳細</h3>
				
				    <button id="detail-delete-todo-btn" class="icon-btn">
				        <i class="fa-solid fa-trash"></i>
				    </button>
				</div>
        		<h2 id="detail-title"></h2>
        		<p id="detail-memo"></p>
        		<p id="detail-datetime"></p>
        		<div id="detail-notify"></div>
    		</aside>
		</div>
		<div id="add-todo-modal" class="modal hidden">
			<div class="modal-content">
				<button id="add-todo-close-modal-btn" class="close-modal-btn">&times;</button>
				<h3>新規タスク作成</h3>
				<div class="task-name-row">
					<label>タスク名</label>
					<input id="add-todo-input" class="modal-title" type="text" maxlength="50" />
				</div>
				<div class="memo-row">
					<label>メモ</label>
					<textarea id="add-todo-memo" class="modal-memo" maxlength="1000" placeholder="メモを入力"></textarea>
				</div>
				<div class="datetime-row">
					<label>日時</label>
					<input type="datetime-local" id="add-todo-datetime">
				</div>
				<div class="notify-row">
				    <label>通知</label>
				
				    <label class="switch">
				        <input type="checkbox" id="add-todo-notify">
				        <span class="slider"></span>
				    </label>
				    <span class="notify-hint">
					    ※日時を設定すると通知できます
					</span>
				</div>
				<div class="modal-actions">
					<button id="add-todo-btn">保存する</button>
				</div>
			</div>
		</div>
		<div id="list-modal" class="modal hidden">
		    <div class="modal-content">
				<button id="add-list-close-modal-btn" class="close-modal-btn">&times;</button>
		        <h3>新規リスト作成</h3>
				<div class="list-name-row">
					<label>リスト名</label>
		        	<input id="list-name-input" class="modal-title" placeholder="リスト名を入力" />
		        </div>
		        <div class="color-row">
		            <label>色</label>
		            <input type="color" id="list-color-input" value="#4f46e5" />
		        </div>
		        <div class="modal-actions">
			        <button id="add-list-btn">作成する</button>
			    </div>
			 </div>
		 </div>
		 <div id="list-context-menu" class="list-context-menu hidden">
		    <button id="edit-list-menu-btn">
		        <i class="fa-solid fa-pen"></i>
		        編集
		    </button>

		    <button id="delete-list-menu-btn" class="danger">
		        <i class="fa-solid fa-trash"></i>
		        削除
		    </button>
		  </div>
		<div id="edit-list-modal" class="modal hidden">
			<div class="modal-content">
		
		        <button id="edit-list-close-modal-btn" class="close-modal-btn">
		            &times;
		        </button>
		
		        <h3>リストを編集</h3>
		
		        <div class="list-name-row">
		            <label>リスト名</label>
		
		            <input id="edit-list-name-input" class="modal-title" maxlength="30"/>
		        </div>
		
		        <div class="color-row">
		            <label>色</label>
		
		            <input type="color" id="edit-list-color-input"/>
		        </div>

		        <div class="modal-actions">
		            <button id="edit-list-btn">
		                保存する
		            </button>
		        </div>
    		</div>
		</div>
	</body>
	<script src="app.js"></script>
</html>